<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>PianoFlask</title>


    <style>
        BODY {
            background-color: #000;
            color:#fff;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            text-align: center;
        }
        H1 {
            margin-top:80px;
        }
    </style>
</head>

<body>

    <h1>PianoBar is not running</h1>
    <h3>Please check that the Raspberry Pi is powered on, and has booted successfully.</h3>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
   integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
   crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js" integrity="sha512-zoJXRvW2gC8Z0Xo3lBbao5+AS3g6YWr5ztKqaicua11xHo+AvE1b0lT9ODgrHTmNUxeCw0Ry4BGRYZfXu70weg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>

var namespace = '/pianoflask';


</script>
</html>